
@import 'bourbon';
/*
***************
BODY
***************
*/

html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
    height: 100vh;

  }

  #app{
      min-height: inherit;
      height: inherit;
  }

/*
***************
HOME COMPONENT
***************
*/


.intro{
   text-align: center;
   z-index: 1;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family: 'Raleway', sans-serif;
   font-size: 2em;
   padding-top: .5em;
   margin: 8em 0 0 0;
}

#home-p1{
margin-bottom: .5em;
}

#home-p2{
padding: 0 auto 0 auto;
margin-top: .5em;
}

.home-linkedin {
    width: 45px;
    height: auto;
    padding: .5em;
    margin-top: 18em;
    
}

.home-github {
    width: 45px;
    height: auto;
    padding: .3em;
    margin-top: 18em;
    margin-right: 1em;
    
}

/*
*************************
RESPONSIVE HOME COMPONENT
*************************
*/

@media only screen and (max-width: 768px) {
    .intro{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 375px) {
    .home-github{
        width: 40px;
        margin-top: 23em;
        
    }

    .home-linkedin{
        width: 40px;
        margin-top: 23em;
        
    }
}

@media only screen and (max-width: 320px) {
    .home-github{
        width: 40px;
        margin-top: 16em;
        
    }

    .home-linkedin{
        width: 40px;
        margin-top: 16em;
    }
}



/*
***************
PARTICLES
***************
*/

    

/*
***************
ABOUT COMPONENT
***************
*/

#about-content{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-top: 6.2em;
   
}

.about-header{
    font-size: 2.6em;
    
}

.about-profile{
    z-index: 1;
    width: 550px;
    height: auto;
    margin-top: 8em;
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.40);
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.40);
}



/*
*************************
RESPONSIVE ABOUT COMPONENT
*************************
*/

@media only screen and (max-width: 1024px) {
    #about-content{
        font-size: 1.2em;
    }
    .about-header{
        font-size: 2.4em;
    }
}

@media only screen and (max-width: 768px) {
    .about-profile{
        width: 450px;
        margin-top: 3em;
    }

    #about-content {
        margin-top: 1em;
    }

    
}

@media only screen and (max-width: 425px) {
    .about-profile{
        width: 375px;
        margin-top: 3em;
        margin-left: .5em;
        margin-right: .5em;
    }
    #about-content{
        font-size: 1em;
    }
    .about-header{
        font-size: 2em;
    }
}

@media only screen and (max-width: 375px) {
    .about-profile{
        width: 325px;
        margin-top: 3em;
        margin-left: .5em;
        margin-right: .5em;
    }
    #about-content{
        font-size: 1em;
    }
    .about-header{
        font-size: 2em;
    }
}

@media only screen and (max-width: 320px) {
    .about-profile{
        width: 275px;
        margin-top: 3em;
        margin-left: .5em;
        margin-right: .5em;

    }
    #about-content{
        font-size: .9em;
    }
    .about-header{
        font-size: 1.8em;
    }
}


/*
***************
WORKS COMPONENT
***************
*/

.works-col-content{
    z-index: 1;
}


#works-header-anim{

    .works-header{
        font-size: 9.5em;
        font-family: 'Lato', sans-serif;
        display: block;
        transform: translateX(150px);
        opacity: 0;
        transition: all 1s;
    }

    &.active .works-header{
        transform: translateX(0px);
        opacity: 1;
    }
    
}


.works-header-dash{
    width: 5.5em;
    height: 1em;
    background-color: rgb(255, 183, 83);
    margin-left: 2em;
    margin-top: -.5em;
}

.works-saffire{

    .works-saffire-screenshot{
        width: 750px;
        height: auto;
        transform: translateX(20em);
        margin-top: 3em;
        z-index: 1;
        transition: all 1s ;
        -webkit-box-shadow: 9px 9px 5px -1px rgba(0,0,0,0.36);
        -moz-box-shadow: 9px 9px 5px -1px rgba(0,0,0,0.36);
        box-shadow: 9px 9px 5px -1px rgba(0,0,0,0.36);
    }

    .works-saffire-box{
    width: 800px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    opacity: 1;
    -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    z-index: 1;
    margin-top: 20em;
    margin-left: 4em;
    margin-right: 4em;
}

.works-saffire-header{
    font-size: 6.5em;
    font-family: 'Lato', sans-serif;
    transform: translateX(-1.4em);
    margin-top: -1.6em;
    transition: all 1s;

}

    &:hover .works-saffire-screenshot {
        transform: translateX(17em);
    }

    &:hover .works-saffire-header {
        transform: translateX(-.7em);
    }


}
    
.works-meeseeks{

    .works-meeseeks-box{
        width: 800px;
        height: 600px;
        background-color: rgb(255, 183, 83);
        opacity: 1;
        -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        z-index: 0;
        margin-top: 20em;
        margin-left: 4em;
        margin-right: 4em;
    
    }
    
    .works-meeseeks-gif{
        margin-top: 3em;
        transform: translateX(30.6em);
        z-index: 1;
        -webkit-box-shadow: 9px 9px 5px -1px rgba(0,0,0,0.36);
        -moz-box-shadow: 9px 9px 5px -1px rgba(0,0,0,0.36);
        box-shadow: 9px 9px 5px -1px rgba(0,0,0,0.36);
        transition: all 1s;
        
    }
    
    .works-meeseeks-header{
        font-size: 6.5em;
        font-family: 'Lato', sans-serif;
        z-index: 1;
        transform: translateX(-1.4em);
        margin-top: -1.6em;
        transition: all 1s;
    
    }

    &:hover .works-meeseeks-gif {
        transform: translateX(27.6em);
    }

    &:hover .works-meeseeks-header {
        transform: translateX(-.7em);
    }

}

.works-threejs{

    .works-threejs-logo{
        font-family: 'Inconsolata', monospace;
        font-size: 13em;
        color: #555;
        transform: translateX(2.5em);
        z-index: 1;
        transition: all 1s;
    }
    
    .works-threejs-header{
        font-size: 6.5em;
        font-family: 'Lato', sans-serif;
        z-index: 1;
        transform: translateX(-1.4em);
        margin-top: -1.6em;
        transition: all 1s;
    }
    
    .works-threejs-box{
        width: 800px;
        height: 600px;
        background-color: rgb(228, 228, 228);
        opacity: 1;
        -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        z-index: 1;
        margin-top: 15em;
        margin-left: 4em;
        margin-right: 4em;
    }

    &:hover .works-threejs-logo {
        transform: translateX(1.5em);
    }

    &:hover .works-threejs-header {
        transform: translateX(-.7em);
    }


}

/*
*************************
RESPONSIVE WORKS COMPONENT
*************************
*/

@media only screen and (max-width: 1024px) {
   
}

@media only screen and (max-width: 768px) {

    
}

@media only screen and (max-width: 425px) {

}

@media only screen and (max-width: 375px) {
    #works-header-anim{

        .works-header{
            font-size: 7em;
            transform: none;
            opacity: 1;
        }
    }

    .works-header-dash{
        width: 4em;
        height: .7em;
        margin-left: 1.5em;
        margin-top: -1.2em;
    }

    .works-saffire{

        .works-saffire-screenshot{
            width: 300px;
            height: auto;
            transform: none;
            margin-top: 2em;
            margin-left: 1em;
            margin-right: 1em;
            -webkit-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.36);
            -moz-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.36);
            box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.36);
        }
    
        .works-saffire-box{
        width: 325px;
        height: 300px;
        background-color: rgb(228, 228, 228);
        opacity: 1;
        -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        z-index: 1;
        margin-top: 10em;
        margin-left: .5em;
        margin-right: .5em;
    }
    
    .works-saffire-header{
        font-size: 4.25em;
        font-family: 'Lato', sans-serif;
        transform: none;
        margin-top: -1.2em;
        margin-left: 1.4em;
        margin-right: 1.4em;
    
    }
    
    
    }

    .works-meeseeks{

        .works-meeseeks-gif{
            width: 300px;
            height: auto;
            transform: none;
            margin-top: 2em;
            margin-left: 1em;
            margin-right: 1em;
            -webkit-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.36);
            -moz-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.36);
            box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.36);
        }
    
        .works-meeseeks-box{
        width: 325px;
        height: 300px;
        -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        z-index: 1;
        margin-top: 10em;
        margin-left: .5em;
        margin-right: .5em;
    }
    
    .works-meeseeks-header{
        font-size: 3.75em;
        font-family: 'Lato', sans-serif;
        transform: none;
        margin-top: -1.2em;
        margin-left: 1em;
        margin-right: 1em;
    
    }
    
    
    }

    .works-threejs{

        .works-threejs-logo{
            font-family: 'Inconsolata', monospace;
            font-size: 5.8em;
            color: #555;
            transform: none;
            z-index: 1;
            transition: all 1s;
        }
    
        .works-threejs-box{
        width: 325px;
        height: 300px;
        background-color: rgb(228, 228, 228);
        opacity: 1;
        -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
        z-index: 1;
        margin-top: 10em;
        margin-left: .5em;
        margin-right: .5em;
    }
    
    .works-threejs-header{
        font-size: 3.75em;
        font-family: 'Lato', sans-serif;
        transform: none;
        margin-top: -1.2em;
        margin-left: 1.4em;
        margin-right: 1.4em;
    
    }
    
    
    }
}

@media only screen and (max-width: 320px) {
    
}


/*
*************************
NAVBAR COMPONENT
*************************
*/

.navbar-menu-item {
font-family: 'Raleway', sans-serif;
color: black;

&:hover {
    color: white;
}

}





