/*
***************
BODY
***************
*/

html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
    height: 100vh;

  }

  #app{
      min-height: inherit;
      height: inherit;
  }


/*
***************
LOADING SPINNER
***************
*/

$spinnerSize: 40;

svg.spinner {
    width: $spinnerSize + px;
    height: $spinnerSize + px;
    x: 0px;
    y: 0px;
    viewBox: 0 0 $spinnerSize $spinnerSize;
    
    circle {
        fill: transparent;
        stroke: #212121;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-dasharray: (3.14 * $spinnerSize);
        -webkit-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -moz-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -ms-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -o-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -webkit-animation: spinner 2s linear infinite;
        -moz-animation: spinner 2s linear infinite;
        -ms-animation: spinner 2s linear infinite;
        -o-animation: spinner 2s linear infinite;
        animation: spinner 2s linear infinite;
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -webkit-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -webkit-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -moz-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -moz-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-ms-keyframes spinner {
    0% {
        -ms-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -ms-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -ms-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-o-keyframes spinner {
    0% {
        -o-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -o-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -o-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

svg {
    display: block;
    margin: 0 auto;
}

/*
***************
HOME COMPONENT
***************
*/


.intro{
   text-align: center;
   z-index: 1;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family: 'Raleway', sans-serif;
   font-size: 2em;
   padding-top: .5em;
   margin: 8em 0 0 0;
}

#home-p1{
margin-bottom: .5em;
}

#home-p2{
padding: 0 auto 0 auto;
margin-top: .5em;
}

.home-linkedin {
    width: 45px;
    height: auto;
    padding: .5em;
    margin-top: 19em;
    
}

.home-github {
    width: 45px;
    height: auto;
    padding: .3em;
    margin-top: 19em;
    
}

/*
*************************
RESPONSIVE HOME COMPONENT
*************************
*/

@media only screen and (max-width: 768px) {
    .intro{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 375px) {
    .home-github{
        width: 40px;
        margin-top: 23em;
        
    }

    .home-linkedin{
        width: 40px;
        margin-top: 23em;
        
    }
}

@media only screen and (max-width: 320px) {
    .home-github{
        width: 40px;
        margin-top: 16em;
        
    }

    .home-linkedin{
        width: 40px;
        margin-top: 16em;
    }
}



/*
***************
PARTICLES
***************
*/

    

/*
***************
ABOUT COMPONENT
***************
*/

#about-content{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-top: 6.2em;
   
}

.about-header{
    font-size: 2.6em;
    
}

.about-profile{
    z-index: 1;
    width: 550px;
    height: auto;
    margin-top: 8em;
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.40);
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.40);
}



/*
*************************
RESPONSIVE ABOUT COMPONENT
*************************
*/

@media only screen and (max-width: 1024px) {
    #about-content{
        font-size: 1.2em;
    }
    .about-header{
        font-size: 2.4em;
    }
}

@media only screen and (max-width: 768px) {
    .about-profile{
        width: 450px;
        margin-top: 3em;
    }

    #about-content {
        margin-top: 1em;
    }

    
}

@media only screen and (max-width: 425px) {
    .about-profile{
        width: 375px;
        margin-top: 3em;
        margin-left: .5em;
        margin-right: .5em;
    }
    #about-content{
        font-size: 1em;
    }
    .about-header{
        font-size: 2em;
    }
}

@media only screen and (max-width: 375px) {
    .about-profile{
        width: 325px;
        margin-top: 3em;
        margin-left: .5em;
        margin-right: .5em;
    }
    #about-content{
        font-size: 1em;
    }
    .about-header{
        font-size: 2em;
    }
}

@media only screen and (max-width: 320px) {
    .about-profile{
        width: 275px;
        margin-top: 3em;
        margin-left: .5em;
        margin-right: .5em;

    }
    #about-content{
        font-size: .9em;
    }
    .about-header{
        font-size: 1.8em;
    }
}


/*
***************
WORKS COMPONENT
***************
*/

.works-col-content{
    z-index: 1;
}


.works-header{
    font-size: 9.5em;
    font-family: 'Lato', sans-serif;
    display: block;
}

.works-saffire-screenshot{
    width: 750px;
    height: auto;
    margin-left: 17em;
    margin-top: 3em;
    z-index: 1;
    
}

.works-saffire-box{
    width: 800px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    opacity: 1;
    -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    z-index: 1;
    margin-top: 20em;
    margin-left: 4em;
    margin-right: 4em;
}

.works-saffire-header{
    font-size: 6.5em;
    font-family: 'Lato', sans-serif;
    margin-left: -.7em;
    margin-top: -1.6em;
    

}

.works-meeseeks-box{
    width: 800px;
    height: 600px;
    background-color: rgb(255, 183, 83);
    opacity: 1;
    -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    z-index: 0;
    margin-top: 20em;
    margin-left: 4em;
    margin-right: 4em;

}

.works-meeseeks-gif{
    margin-top: 3em;
    margin-left: 27.6em;
    z-index: 1;
}

.works-meeseeks-header{
    font-size: 6.5em;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    margin-left: -.7em;
    margin-top: -1.6em;

}

.works-threejs-logo{
    font-family: 'Inconsolata', monospace;
    font-size: 13em;
    color: #555;
    margin-left: 1.5em;
    z-index: 1;
}

.works-threejs-header{
    font-size: 6.5em;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    margin-left: -.7em;
    margin-top: -1.6em;
}

.works-threejs-box{
    width: 800px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    opacity: 1;
    -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.36);
    z-index: 1;
    margin-top: 15em;
    margin-left: 4em;
    margin-right: 4em;
}

